
.button {
    background-color: $tangerine;
    color: $black;

    &:hover {
        background-color: $white;
    }
}

.footer__button {
    background-color: $tangerine;
    color: $charcoal;
    padding: 0.23em 0.3em;
    font-size: $small;
    font-weight: $regular;
    font-family: $poppins;
    margin-bottom: 0.14em;
    transition: all 0.6s ease;
    font-size: $small;
    &:hover {
        background-color: $white;
        color: $sable;
        font-size: $small;
    }
}

