.footer{
    background-color: $black;
    color: $white;
    text-align: center;
    padding-top:  2rem;
    padding-bottom: 1em;
    font-size: 12px;
    p {
        color: $white;
        font-family: $poppins;
        font-size: 12px;
      }
      .footer__col--1 p {
        vertical-align: bottom;
        margin-bottom: 0;
        font-size: 12px;
      }
   }


.footer__input{
    padding-top: 0;
}

.footer__input input{
    text-align: center;
    padding: 0.2rem;
}


.footer__button-container{
    margin-top: 0.5rem;
    font-size: 12px;
}

.footer__legal {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  
    @include small {
      flex-direction: row;
      font-size: 12px;
   }
  }

@media(min-width:$min-lg){
    .footer{
        background-color: $black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding-top:  2rem;
        color: $white;
        font-size: 12px;
    }
    .input{
        height: 2rem;
        font-size: 12px;
    }
    .footer__text{
        display: inline-block;
        font-size: 12px;
    }
    .footer__button-container{
        margin-top: 0;
        display: inline;
        font-size: 12px;
    }
    .footer__content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        font-size: 12px;
    }
}


