/*
.footer {
    background-color: $sable;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    
    p {
      color: $white;
      font-family: $poppins;
    }
    .footer__col--1 p {
      vertical-align: bottom;
      margin-bottom: 0;
    }
  }
  
  
 */ 


.footer{
    background-color: $black;
    color: $white;
    text-align: center;
    padding-top:  2rem;
    padding-bottom: 1em;
}

.footer__input{
    padding-top: 0;
}

.footer__input input{
    text-align: center;
    padding: 0.2rem;
}

.footer__text{
    display: block;
}

.footer__button-container{
    margin-top: 0.5rem;
}

.footer__legal {
    display: flex;
    flex-direction: column;
  
    @include small {
      flex-direction: row;  
   }
  }
  
  
@media(min-width:$min-lg){
    .footer{
        background-color: $black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding-top:  2rem;
        color: $white;
    }
    .input{
        height: 2rem;
    }
    .footer__text{
        display: inline-block;
    }
    .footer__button-container{
        margin-top: 0;
        display: inline;
    }
    .footer__content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    }
}

