* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: inline-block;
  width: 100%;
}

@media (min-width: 992px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__content img {
    margin-bottom: 0.5rem;
    width: 45%;
    height: auto;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/*columns*/
.col-sm-12 {
  grid-column: span 12;
}

.col-sm-11 {
  grid-column: span 11;
}

.col-sm-10 {
  grid-column: span 10;
}

.col-sm-9 {
  grid-column: span 9;
}

.col-sm-8 {
  grid-column: span 8;
}

.col-sm-7 {
  grid-column: span 7;
}

.col-sm-6 {
  grid-column: span 6;
}

.col-sm-5 {
  grid-column: span 5;
}

.col-sm-4 {
  grid-column: span 4;
}

.col-sm-3 {
  grid-column: span 3;
}

.col-sm-2 {
  grid-column: span 2;
}

.col-sm-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.footer {
  background-color: #000000;
  padding: 2rem;
  color: #ffffff;
  text-align: center;
}

.footer__input {
  padding-top: 0;
}

.footer__input input {
  text-align: center;
  padding: 0.2rem;
}

.footer__text {
  display: block;
}

.footer__button-container {
  margin-top: 0.5rem;
}

@media (min-width: 992px) {
  .footer {
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 2rem;
    color: #ffffff;
  }

  .input {
    height: 2rem;
  }

  .footer__text {
    display: inline-block;
  }

  .footer__button-container {
    margin-top: 0;
    display: inline;
  }

  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
}
.button {
  background-color: #ffaf6d;
  color: #000000;
}
.button:hover {
  background-color: #ffffff;
}

.input:hover {
  background-color: #ffaf6d;
}

.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}
.navbar a {
  text-decoration: none;
}

.navbar-nav__link {
  color: #ffffff;
}
.navbar-nav__link:hover {
  color: #ffa500;
}

.navbar-toggler {
  border-color: transparent;
}

.navbar__link-bars {
  color: #ffffff;
}
.navbar__link-bars:hover {
  color: #ffa500;
  text-decoration: none;
}

.navbar-brand {
  height: 2.5em;
  width: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
